<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>Document</title>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="landing-sections text-center landing-screen">
            <h2 class="text-center">Detailed Information for
                {{ equities[0].name }}
                ({{ equities[0].code }})</h2>
            <div class="mini-container">
                <div class="table-search-container">
                    <div class="search-section">
                        <p class="text-grey" style="text-align:justify;">Historical Bhav Copy data of
                            {{ equities[0].name }}
                            over 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    	the last
                            {{ equities|length }}
                            days.</p>
                        <br><br>
                        <form action="/detail">
                            <!-- <input type="text" name="name" placeholder="{{ equities[0].name }}" required> -->
                            <select class="form-control select2" name="name" style="width: 30%">
                                <option value="{{ equities[0].name }}">{{ equities[0].name }}</option>
                            </select>
                            <input type="submit" value="Search">
                            <input onclick="location.href='/';" type="button" value="Go Back"/>
                        </form>
                    </div>
                    <div class="table-section">
                        <table class="table table-bordered" id="hor-minimalist-b" summary="Latest Bhav Copy">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Open</th>
                                    <th scope="col">High</th>
                                    <th scope="col">Low</th>
                                    <th scope="col">Close</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eq in equities %}
                                    <tr>
                                        <td>{{ eq.date.strftime('%d-%m-%Y')  }}</td>
                                        <td>{{ eq.open }}</td>
                                        <td>{{ eq.high }}</td>
                                        <td>{{ eq.low }}</td>
                                        <td>{{ eq.close }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
        <script>
                  $('.select2').select2();
                </script>
    </body>
</html>
